*
include         /etc/.../*

exclude.dir     /.../SCRATCH
exclude.dir     /.../Scratch
exclude.dir     /.../scratch
exclude.dir     /.../tmp
exclude.dir     /.../.dt
*
exclude         /.../kio_http/cache/.../*
exclude         /.../.opera/.../cache4/.../*
*exclude.dir     /.../.cache
exclude     /.../.cache/.../*
